.item__status--new mat-chip {
  background-color: #eaba6b;
}

.item__status--in-progress mat-chip {
  background-color: #42cafd;
}

.item__status--blocked mat-chip {
  background-color: #e71d36;
}

.item__status--closed {
  mat-chip {
    background-color: #65b891;
  }
}

.item__status--cancelled mat-chip {
  background-color: #f7567c;
}

.item {
  width: 70%;
  margin-bottom: 20px;

  .item__menu {
    padding: 0;
    height: 36px;
    width: 36px;
  }

  mat-card {
    border: 1px solid;
    box-shadow: none;
    min-height: 180px;

    .item__description {
      margin: 20px 0 10px 0;
    }

    .item__actions {
      padding: 16px;

      > * {
        margin-right: 10px;
      }
    }

    .item__status {
      right: -15px;
      top: -15px;
      position: absolute;
    }
  }
}

.item__status--important mat-card {
  border: 1px solid red;
  order: -1;
}
