<ng-container *ngIf="vm$ | async as vm">
  <h1 style="padding-top:16px; padding-bottom: 16px">NgRx Todo Sandbox application</h1>
  <div class="grid search-filter--container">
    <app-task-search></app-task-search>
    <app-task-filter></app-task-filter>
  </div>
  <ng-container *ngIf="!vm.loading">
    <ng-container *ngIf="vm.todoItems.length == 0; else taskList">
      <p>Nothing to show, please add a task</p>
    </ng-container>
    <ng-template #taskList>
      <div class="grid">
        <div class="grid-col--6">
          <h2>Open tasks</h2>
          <div class="grid-col--container">
            <ng-container class="grid-col--container" *ngFor="let item of vm.todoItems; let i = index">
              <app-task-item
                [itemDetails]="item"
                [ngClass]="{'test': item.important}"
                *ngIf="item.statusId !== TodoItemStatusConstant.COMPLETE"
              ></app-task-item>
            </ng-container>
          </div>
          <button mat-flat-button color="primary" routerLink="create">
            Add new task
          </button
          >
          <br/><br/>
        </div>

        <div class="grid-col--6">
          <h2>Complete tasks</h2>
          <div class="grid-col--container">
            <ng-container *ngFor="let item of vm.todoItems; let i = index">
              <app-task-item
                [itemDetails]="item"
                [ngClass]="{'test': item.important}"
                *ngIf="item.statusId === TodoItemStatusConstant.COMPLETE"
              ></app-task-item>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-template
    >
    <br/>
  </ng-container>
</ng-container>
