.grid {
  width: 100%;
  display: flex;
}

.search-filter--container {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  align-items: center;
}

.grid-col--6 {
  width: 50%;
}

.grid-col--container {
  display: flex;
  flex-direction: column;
}

.test {
  order: -1;
}
